In [1]:
import os
import pandas as pd

In [2]:
dfs = []
# for f in os.listdir():
#     if f.endswith('xlsx'): 
#         dfs += [pd.read_excel(f,index_col=None)]
dfs.append(pd.read_excel('./out/研究数据0408.xlsx',index_col=None))
dfs.append(pd.read_excel('./ROA数据来源0408_去重.xlsx',index_col=None))
dfs.append(pd.read_excel('./托宾Q值来源0408.xlsx',index_col=None))
len(dfs)

3

In [26]:
print(dfs[0].shape)
#dfs[0].drop([0], axis=1)
dfs[0].head()

(30557, 22)

,Symbol,EndDate,Stknme,Listexg,Nindcd,Area,Listdt,Ucpd,Ucsvr,Nshld,...,RDSpendSumRatio,Nshrttl,Nshrstt,Rat_SO,Nshrsms,TotalAssets,TotalLiability,IntangibleAsset,NetProfit,OperationProfit
NaN,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',人',...,没有单位',股',股',NaN,股',元',元',元',元',元'
NaN,证券代码',统计截止日期',证券简称',上市交易所',行业代码',地区',上市日期',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',股东总数',...,研发投入占营业收入比例(%)',股本总数',其中：国有股',国有股占比,其中：高管持股数',总资产',总负债',无形资产',净利润',营业利润'
NaN,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17170411366,0,0,23866,3248474000000,3026420000000,4701000000,23189000000,30223000000
NaN,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17170411366,0,0,17587,2953434000000,2751263000000,4771000000,22599000000,29779000000
NaN,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14308676139,0,0,14657,2507149000000,2345649000000,4961000000,21865000000,28895000000

In [4]:
print(dfs[1].shape)
dfs[1].head()

(146209, 10)

,Stkcd,Accper,F050201B,F050202B,F050203B,F050204C,F050301B,F050302B,F050303B,F050304C
0,股票代码',截止日期',总资产净利润率（ROA）A',总资产净利润率（ROA）B',总资产净利润率（ROA）C',总资产净利润率（ROA）TTM',流动资产净利润率A',流动资产净利润率B',流动资产净利润率C',流动资产净利润率TTM'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位'
2,000001,2018-12-31,0.00726,0.007445,0.007445,0.007445,NaN,NaN,NaN,NaN
3,000001,2018-09-30,0.006103,0.006198,0.006198,0.007548,NaN,NaN,NaN,NaN
4,000001,2018-06-30,0.003971,0.004042,0.004042,0.007433,NaN,NaN,NaN,NaN

In [5]:
print(dfs[2].shape)
dfs[2].head()

(137200, 11)

,Stkcd,Accper,Indcd,F100501A,F100801A,F100802A,F100901A,F100902A,F100903A,F100904A,备注
0,股票代码',截止日期',行业代码',市值有形资产比',市值A',市值B',托宾Q值A',托宾Q值B',托宾Q值C',托宾Q值D',只取12月年终的数据
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',NaN
2,000001,2018-12-31,J66,0.047282,3.33961e+12,3.33961e+12,0.047113,0.047283,0.976896,0.980435,NaN
3,000001,2018-09-30,J66,0.056809,3.30656e+12,3.30656e+12,0.056602,0.05681,0.986427,0.990057,NaN
4,000001,2018-06-30,J66,0.046516,3.29534e+12,3.29534e+12,0.04635,0.046517,0.9786,0.982118,NaN

In [28]:
dfs[1] = dfs[1].rename(columns={'Stkcd':'Symbol','Accper':'EndDate'})
dfs[1].loc[0]['Symbol']="证券代码'"
dfs[1].loc[0]['EndDate']="统计截止日期'"
dfs[1].head()

,Symbol,EndDate,F050201B,F050202B,F050203B,F050204C
0,证券代码',统计截止日期',总资产净利润率（ROA）A',总资产净利润率（ROA）B',总资产净利润率（ROA）C',总资产净利润率（ROA）TTM'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位'
2,000001,2018-12-31,0.00726,0.007445,0.007445,0.007445
3,000001,2018-09-30,0.006103,0.006198,0.006198,0.007548
4,000001,2018-06-30,0.003971,0.004042,0.004042,0.007433

In [23]:
dfs[1] = dfs[1][['Symbol','EndDate', 'F050201B', 'F050202B','F050203B','F050204C']]
dfs[1].head()

,Symbol,EndDate,F050201B,F050202B,F050203B,F050204C
0,证券代码',截止日期',总资产净利润率（ROA）A',总资产净利润率（ROA）B',总资产净利润率（ROA）C',总资产净利润率（ROA）TTM'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位'
2,000001,2018-12-31,0.00726,0.007445,0.007445,0.007445
3,000001,2018-09-30,0.006103,0.006198,0.006198,0.007548
4,000001,2018-06-30,0.003971,0.004042,0.004042,0.007433

In [9]:
dfs[2] = dfs[2].rename(columns={'Stkcd':'Symbol','Accper':'EndDate'})
dfs[2].head()

,Symbol,EndDate,Indcd,F100501A,F100801A,F100802A,F100901A,F100902A,F100903A,F100904A,备注
0,股票代码',截止日期',行业代码',市值有形资产比',市值A',市值B',托宾Q值A',托宾Q值B',托宾Q值C',托宾Q值D',只取12月年终的数据
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',NaN
2,000001,2018-12-31,J66,0.047282,3.33961e+12,3.33961e+12,0.047113,0.047283,0.976896,0.980435,NaN
3,000001,2018-09-30,J66,0.056809,3.30656e+12,3.30656e+12,0.056602,0.05681,0.986427,0.990057,NaN
4,000001,2018-06-30,J66,0.046516,3.29534e+12,3.29534e+12,0.04635,0.046517,0.9786,0.982118,NaN

In [29]:
dfs[2] = dfs[2][['Symbol','EndDate', 'F100501A', 'F100801A','F100802A','F100901A','F100902A','F100903A','F100904A','备注']]
dfs[2].loc[0]['Symbol']="证券代码'"
dfs[2].loc[0]['EndDate']="统计截止日期'"
dfs[2].head()

,Symbol,EndDate,F100501A,F100801A,F100802A,F100901A,F100902A,F100903A,F100904A,备注
0,证券代码',统计截止日期',市值有形资产比',市值A',市值B',托宾Q值A',托宾Q值B',托宾Q值C',托宾Q值D',只取12月年终的数据
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',NaN
2,000001,2018-12-31,0.047282,3.33961e+12,3.33961e+12,0.047113,0.047283,0.976896,0.980435,NaN
3,000001,2018-09-30,0.056809,3.30656e+12,3.30656e+12,0.056602,0.05681,0.986427,0.990057,NaN
4,000001,2018-06-30,0.046516,3.29534e+12,3.29534e+12,0.04635,0.046517,0.9786,0.982118,NaN

In [11]:
max_row, total_column=max([v.shape[0] for v in dfs]),sum([v.shape[1] for v in dfs])
max_row,total_column

(146209, 38)

In [31]:
df = dfs[0].merge(dfs[1],how='left',on=['Symbol','EndDate']).merge(dfs[2],how='left',on=['Symbol','EndDate'])
print(df.shape)
df.head()

(30557, 34)

,Symbol,EndDate,Stknme,Listexg,Nindcd,Area,Listdt,Ucpd,Ucsvr,Nshld,...,F050203B,F050204C,F100501A,F100801A,F100802A,F100901A,F100902A,F100903A,F100904A,备注
0,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',人',...,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',NaN
1,证券代码',统计截止日期',证券简称',上市交易所',行业代码',地区',上市日期',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',股东总数',...,总资产净利润率（ROA）C',总资产净利润率（ROA）TTM',市值有形资产比',市值A',市值B',托宾Q值A',托宾Q值B',托宾Q值C',托宾Q值D',只取12月年终的数据
2,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007478,0.007478,0.070564,3.25469e+12,3.25479e+12,0.0703,0.070566,1.00194,1.00574,NaN
3,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.008277,0.008277,0.053125,2.9143e+12,2.90751e+12,0.052905,0.053127,0.984452,0.988582,NaN
4,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.009317,0.009317,0.068774,2.51545e+12,2.51721e+12,0.068429,0.068772,1.00401,1.00906,NaN

In [36]:
# dfx=dfs[0].merge(dfs[2],how='left')
# print(dfx.shape)

(30557, 30)

In [32]:
df.to_excel('研究数据0410.xlsx')

In [ ]:
df.shape